@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.non-interactive {
  @apply cursor-default pointer-events-none text-inherit;
}

.ant-menu-item-selected {
  border-right: 1px solid maroon;
  border-radius: 0;
}

.sider-dark {
  background-color: #001529;
}

.sider-light {
  background-color: white;
}

.sider-light .ant-menu {
  white-space: nowrap;
  overflow: auto;
}

.sider-dark .ant-menu {
  white-space: nowrap;
  overflow: auto;
}
.App-header {
  background-color: #e1e5eb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black; /* Set the text color for the entire header */
  border-radius: 60px; /* Add rounded corners */
  padding: 15px; /* Add padding for better appearance */
}
