@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.non-interactive {
  @apply cursor-default pointer-events-none text-inherit;
}

.ant-menu-item-selected {
  border-right: 1px solid maroon;
  border-radius: 0;
}

.dark-theme .ant-modal-content {
  background-color: #1f2937;
}
.ant-radio-wrapper {
  display: block;
  margin-bottom: 8px;
}

.ant-radio-wrapper:hover .ant-radio,
.ant-radio-wrapper-focused .ant-radio {
  border-color: #800000;;
}

.ant-radio-checked .ant-radio-inner {
  border-color: #800000;;
  background-color: #800000;;
}
.App-header {
  background-color: #e1e5eb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black; /* Set the text color for the entire header */
  border-radius: 60px; /* Add rounded corners */
  padding: 15px; /* Add padding for better appearance */
}
.scroll-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 20px;
}
.scroll-container::-webkit-scrollbar {
  display: none; /* Hide the scrollbar */
}
.custom-item {
  width: 400px;
  margin: 0 2px;
  padding: 20px;
  border: 1px solid #ccc; /* Example border */
  border-radius: 4px;
  background-color: #fff;
}
.content {
  margin-top: 20px;
}

